/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #4070F4;
}

.main-container {
    width: 450px;
    background: white;
    margin: 100px auto;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    text-align: center;
}

.main-container h1 {
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}

h1 span {
    color: #4070F4;
}

form input {
    display: block;
    width: 90%;
    margin: 15px auto;
    padding: 12px 12px;
    border: 2px solid #E2E2E2;
    border-radius: 5px;
}

form input::placeholder {
    font-size: 16px;
}


form input:focus {
    outline-color: #4070F4;
}